---
import MainNewCard from "./MainNewCard.astro"
import NewCard from "./NewCard.astro"
import { news } from "../data/news.js"

---
<section class="section">
    {
      
        news.map((n)=>(
            n.priority === 1 &&
            <div class="main-new">
                <MainNewCard title={n.title} description={n.description} img={n.img[0]} id={n.id} date={n.date} links={n.links} />
            </div>
        ))
            
    }
  
    <div class="news">
    {
        news.map((n,i)=>(
            n.priority !== 1 && i < 7 &&
            <NewCard title={n.title} description={n.description} img={n.img[0]} id={n.id} date={n.date}/>
        ))
    }
    </div>
</section>

<style>
    .section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .news{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 800px;
    }
    @media screen and (max-width: 768px) {
        .news{
            justify-content: center;
        }
    }
</style>
